__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dylib

.venv/
.venv-build/
env/
venv/
answer/
quiz/
.mypy_cache/
.pyre/
.pytype/
.hypothesis/

dist/
build/
*.spec
.pytest_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/
pip-wheel-metadata/
*.egg-info/
.ipynb_checkpoints/

output/
models/
.DS_Store

# model weights
*.onnx
*.pt
*.pth
*.ckpt
*.safetensors

# videos
*.mp4
